.block_one{
    height:492px;
    background: #011c28; /* Old browsers */
    background: -moz-linear-gradient(top,  #011c28 0%, #012f41 50%, #01374c 52%, #013f56 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#011c28), color-stop(50%,#012f41), color-stop(52%,#01374c), color-stop(100%,#013f56)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #011c28 0%,#012f41 50%,#01374c 52%,#013f56 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #011c28 0%,#012f41 50%,#01374c 52%,#013f56 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #011c28 0%,#012f41 50%,#01374c 52%,#013f56 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #011c28 0%,#012f41 50%,#01374c 52%,#013f56 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011c28', endColorstr='#013f56',GradientType=0 ); /* IE6-9 */

}

.block_one .right{
    width:485px;
    margin-top:90px;

}

.powered{
    background-image:url('images/web_MokiTouchPRO_logo.png');
    width:400px;
    height:355px;
    margin-top:115px;
    margin-left:15px;
}

.moki_manage_logo{
    background-image:url('images/moki_manage_page_logo.png');
    width:316px;
    height:39px;
}

.moki_powered{
    margin-top:170px;
}

.moki_logo_text{
    font-size:40pt;
}

.moki_description{
    font-size:19px;
    line-height: 27px;
    margin-top:55px;
}

.learn_more{
    font-size:10pt;
    margin-top:10px;
}

/*Block 2*/

.block_two{

    height:490px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#8db000;
    height:488px;
}

.enclosures{
    margin-top: 117px;
    background-image:url('images/video_image_support.png');
    width:400px;
    height:373px;
}

.block_two .left{
    margin-left:50px;
}

.block_two .right{
    width:480px;
    margin-top:120px;
}


/*Block 3*/

.block_two, .block_three, .block_five, .block_seven{
    background: #f1f2f2; /* Old browsers */
    background: -moz-linear-gradient(top,  #f1f2f2 0%, #cbcdce 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f2f2), color-stop(100%,#cbcdce)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f1f2f2 0%,#cbcdce 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f1f2f2 0%,#cbcdce 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f1f2f2 0%,#cbcdce 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f1f2f2 0%,#cbcdce 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2f2', endColorstr='#cbcdce',GradientType=0 ); /* IE6-9 */
}

.small_content{
    width:633px;
    margin:0 auto;
}

.blue_band{
    background-color:#008fcf;
}

.button_block{
    width:162px;
    height:92px;
    margin-left:-4px;
    padding-left:50px;
    padding-top:40px;
    opacity: 1;
        transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}

.button_block:hover{
    background-color:#0083bf;
}

.button_block.active{
    
    background-color: #d1d2d4;
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;

/*    background: #dfe0e1;  Old browsers 
    background: -moz-linear-gradient(top,  #dfe0e1 0%, #c0c2c4 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfe0e1), color-stop(100%,#c0c2c4));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  #dfe0e1 0%,#c0c2c4 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  #dfe0e1 0%,#c0c2c4 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  #dfe0e1 0%,#c0c2c4 100%);  IE10+ 
    background: linear-gradient(to bottom,  #dfe0e1 0%,#c0c2c4 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe0e1', endColorstr='#c0c2c4',GradientType=0 );  IE6-9 */
}

.button_block.active .big{
    color:black;
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}

.button_block:hover{
    cursor:pointer;
}

.big{
    font-size:24pt;
    font-family: 'proxima_nova_regular';
        transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}

.small{
    font-size:12pt;
    font-family: 'proxima_nova_regular';
        transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}

.pointer{
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 13px solid #d7d8d9;
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}

.pointer.device_manage{
    margin-left:251px;
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}

.pointer.app_dist{
    margin-left:466px;
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}

.pointer.app_manage{
    margin-left:680px;
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}

.pane{
    opacity:1;
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}

.opaque{
    opacity:0;
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}

.bottom_block_strip{
    height:300px;
    box-shadow: inset 0px 12px 12px -12px #696868;
}



/*Block 4*/

.block_four{
    background-color:#98c1d8;
    height:420px;
    box-shadow: inset 0px 12px 12px -12px #696868;
}

.block_four .content{
    padding-top:80px;
}

.block_four h2{
    margin-top:0;
    padding-top:30px;
}

.block_four .block_text{
    width:500px;
    margin-right: 35px;
}

.cloud{
    background-image:url('images/screen_saver.png');
    width:420px;
    height:383px;
    margin-top:-43px;
}


/*Block 5*/

.block_five{

    height:490px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#8db000;
    height:488px;
}

.loop{
    margin-top: 117px;
    background-image:url('images/looping_video.png');
    width:400px;
    height:373px;
}

.block_five .left{
    margin-left:50px;
}

.block_five .right{
    width:480px;
    margin-top:120px;
}

/*Block 6*/

.block_six{
    background-color:#98c1d8;
    height:420px;
    box-shadow: inset 0px 12px 12px -12px #696868;
}

.block_six .content{
    padding-top:80px;
}

.block_six h2{
    margin-top:0;
    padding-top:30px;
}

.block_six .block_text{
    width:500px;
    margin-right: 35px;
	margin-top: 20px;
}

.credit{
    background-image:url('images/credit_card.png');
    width:420px;
    height:349px;
    margin-top:-9px;
}
/*Block 7 */
.block_seven{

    height:490px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#8db000;
    height:488px;
}

.google{
    margin-top: 100px;
    background-image:url('images/google_analytics.png');
    width:400px;
    height:373px;
}

.block_seven .left{
    margin-left:50px;
}

.block_seven .right{
    width:480px;
    margin-top:120px;
}


/*Block 8 */

.block_eight{
    height:450px;
    box-shadow: inset 0px 12px 12px -12px #696868;
}

.block_eight .content{
    padding-top:59px;
}

.block_eight .block_text{
    width:390px;
    margin-left:65px;
    padding-top:30px;
}


.customers{
    width:400px;
    height:202px;
	margin-top:50px;
}
.customers_header{
    font-size:56pt;
}

/*Block 8 */

.block_nine{
    height:850px;
    box-shadow: inset 0px 12px 12px -12px #696868;
}

.block_nine .content{
    padding-top:59px;
}

.block_nine .block_text{
    width:520px;
    margin-left:35px;
    padding-top:30px;
}


.webhooks{
    background-image:url('images/mokitouch_customers.png');
    width:397px;
    height:346px;
}

/*General*/

h2{
    font-family: 'proxima_nova_regular';
    font-size:25pt;
    margin:30px 0px;
    color:#333333;
}
h3{
    font-family: 'proxima_nova_regular';
    font-size:46pt;
    margin:30px 0px;
    color:#333333;
}

.block p{
    font-size:17px;
    line-height:25px;
}

.moki_touch_get_started{
    margin-top:20px;
}

.moki_touch_get_started:hover{
    cursor: pointer;
}

.moki_touch_get_started .text{
    text-align: right;
    padding-right: 10px;
    background-color:#009bdb;
    line-height:35px;
    width:414px;
    transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transition: all .7s;
}

.moki_touch_get_started .arrow{
    background-color:#009bdb;
    line-height:35px;
    font-size:25px;
    padding-left:10px;
    width:35px;
    margin-left:-4px;
    box-shadow: inset 9px 0px 10px -7px black;
    transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transition: all .7s;
}

.moki_touch_get_started.fixed{
    position:fixed;
    top:137px;
    margin-top: -2px;
    z-index: 999;
}

.fixed .text{
    width:85px;
    margin-left: 344px;
    transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transition: all .7s;
}

.fixed .arrow{
    width:21px;
    transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transition: all .7s;
}

.device_manage p{
    font-size: 26px;
    line-height: 36px;
}

.app_dist p{
    font-size: 26px;
    line-height: 36px;
}

.app_manage p{
    font-size: 26px;
    line-height: 36px;
}